<html>

<head>
    <title>upload</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
</head>
<center>

    <body bgcolor="#FDC500">
        <img src="https://i.imgur.com/m0alPq0.png" />
        <form></form>
        <img src="https://i.imgur.com/BKtiX75.png" width=5 0% height=10%/>
        <form action="/success" method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" value="Upload">
        </form>
    </body>
</center>

</html>